/* Chatbot.scss */
// Import Bootstrap variables and functions

// Import the specific Bootswatch theme
@import "~bootswatch/dist/darkly/bootstrap.min.css";

// Global scrollbar styling
*::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

*::-webkit-scrollbar-track {
  background-color: var(--bs-gray-700); /* Use Bootswatch variables for colors */
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--bs-primary); /* Use Bootswatch variables for colors */
  border-radius: 10px; /* Roundness of the thumb */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--bs-info); /* Thumb color on hover */
}

.message-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%; /* Ensure full width */
  overflow-y: auto; /* Ensure scrollbar appears only when needed */
  padding: 5px; /* Adjust padding as needed */
  height: 95vh;
}

.message-bubble {
  max-width: 100%; /* Adjust max-width to ensure bubbles don't take up too much space */
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 5px;
  word-wrap: break-word;
  white-space: pre-wrap; /* Preserve newlines */
  background-color: var(--bs-white); /* Background color from Bootswatch */
  border: 1px solid var(--bs-secondary); /* Border color from Bootswatch */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.user .message-bubble {
  align-self: flex-end;
  background-color: var(--bs-success); /* User bubble color */
  color: var(--bs-white); /* Text color for user bubble */
  margin-right: 5px; /* Add margin to the right to prevent cutting off */
}

.bot .message-bubble {
  align-self: flex-start;
  background-color: var(--bs-gray-700); /* Bot bubble color */
  color: var(--bs-white); /* Text color for bot bubble */
  margin-left: 5px; /* Add margin to the left to prevent cutting off */
}

.message-bubble {
  animation: fadeIn 0.5s ease-in-out;
}

.conversation-item {
  position: relative;
  padding-right: 50px; /* Ensure space for the buttons */
}

.conversation-name {
  display: inline-block;
  max-width: calc(100% - 120px); /* Adjust based on button size */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  vertical-align: middle;
  color: var(--bs-body-color); /* Text color from Bootswatch */
}

/* Styling for the select element with the selectpicker class */
.selectpicker {
  color: var(--bs-white); /* Text color */
  background-color: var(--bs-gray-700); /* Background color */
  border: 1px solid #ccc; /* Border */
  padding: 8px; /* Padding */
  border-radius: 4px; /* Border radius */
  width: 100%; /* Optional: Full width */
  font-size: 14px; /* Optional: Font size */
}

/* Optional: Adjust hover and focus styles for better interaction */
.selectpicker:hover,
.selectpicker:focus {
  border-color: #666; /* Darker border on hover/focus */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Optional: Shadow on hover/focus */
}

.checkbox-with-padding-top {
  padding-top: 10px; /* Adjust the padding as needed */
}

.conversation-item::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  pointer-events: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Specific styling for the context length slider */
.form-label {
  color: var(--bs-body-color); /* Label color */
  padding: 10px; /* Added padding */
}

.form-control-range {
  accent-color: var(--bs-primary); /* Slider thumb color */
  background: var(--bs-secondary); /* Solid color for the slider track */
  border-radius: 10px; /* Roundness of the slider track */
  border-color: var(--bs-primary);
  border-width: 2px;
  height: 8px; /* Adjust height as needed */
  padding: 10px; /* Added padding */
}

.form-control-range::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--bs-primary); /* Thumb color */
  border-radius: 50%; /* Circular thumb */
  cursor: pointer;
}

.form-control-range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: var(--bs-primary); /* Thumb color */
  border-radius: 50%; /* Circular thumb */
  cursor: pointer;
}

.form-control-range::-ms-thumb {
  width: 20px;
  height: 20px;
  background: var(--bs-primary); /* Thumb color */
  border-radius: 50%; /* Circular thumb */
  cursor: pointer;
}

.copy-button, .edit-button, .regenerate-button {
  position: absolute;
  bottom: 10px;
  left: 5px;
  background: none;
  border: none;
  color: var(--bs-white); /* Default button text color from Bootswatch */
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.copy-button.show, .edit-button.show, .regenerate-button.show {
  opacity: 1;
}

.edit-button {
  left: 25px; /* Adjust this value to position the edit button next to the copy button */
}

.regenerate-button {
  left: 25px; /* Adjust this value to position the regenerate button next to the edit button */
}

.regenerate-button[disabled].show {
  cursor: not-allowed;
  opacity: 0.5;
}

.icon-enter {
  opacity: 0;
  transform: scale(0.9);
}

.icon-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.icon-exit {
  opacity: 1;
  transform: scale(1);
}

.icon-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

/* Additional styles for the layout */
.chat-container {
  display: flex;
  flex-direction: column;
  height: 95vh;
  width: 100%;
  padding: 0;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 20px;
  padding: 5px;
}

.empty-conversation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--bs-info);
  border-radius: 5px;
  padding: 20px;
  background-color: var(--bs-gray-700);
  height: 100%;
}

.empty-conversation h3 {
  color: var(--bs-white);
}

.message-form {
  display: flex;
  align-items: center;
  padding: 10px;
}

.message-input {
  flex: 1;
  margin-right: 10px;
  margin-bottom: 0;
  padding: 10px;
}

.send-button {
  height: 80%;
  padding: 10px;
}

#new-conv-button {
  margin-right: 0;
}

#token-count {
  margin-left: 10px;
  padding: 10px;
}

.total-length {
  display: flex;
  font-size: 15px;
  color: var(--bs-white); /* Example color */
  background-color: var(--bs-primary);
  align-content: center;
  padding: 14px;
  border-radius: 10px;
}

#total-length-tooltip {
  padding-left: 5px;
}

.conversation-list {
  max-width: 20vw;
  max-height: 50vh; /* Ensure the conversation list doesn't exceed 50% of the viewport height */
  overflow-y: auto; /* Add vertical scrollbar when content exceeds the height */
  overflow-x: hidden; /* Prevent horizontal scrolling */

  .conversation-item {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 100%;

    .conversation-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      overflow-x: hidden; /* Prevent horizontal scrolling within the content */

      .conversation-name {
        flex: 1;
        max-width: 60%;
        overflow: hidden; /* Ensure content does not overflow */
        text-overflow: ellipsis; /* Add ellipsis for overflowing text */
        white-space: nowrap; /* Prevent text from wrapping */
      }

      .conversation-actions {
        display: flex;
        gap: 5px;
        margin-right: 20px;

        button {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          padding: 0.2rem 0.4rem;
          overflow: hidden; /* Ensure button content does not overflow */
        }
      }
    }
  }
}
